*{margin:0;
padding:0;}

p{
  text-align:right;
  margin:2rem auto;
}
.Background{
  height: 100vh;
  display:flex;
}

.Card{
  width: 40vw;
  min-height: 40vh;
  background-color: white;
  border-radius: 15px;
  padding:2rem 3rem;
  margin:auto;
  align-items:center;
}

.Button{
  position:absolute;
left: 30vw;
  bottom:30vh;
  padding:1rem;
  color:white;
  border-radius: 15px;
  border:0px;
}
.fa-quote-left{
font-size: 4rem;
margin: auto 1rem;

}